*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{

    height: 100%;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
   
    text-align: center;
}
table tr td button{

    width: 50px;
    height: 50px;
    cursor: pointer;
    color: rgb(252, 252, 252);
    background-color: black;
    border: none;
    
}
button:hover{

    background-color: pink;
}
.blucoler{

    background-color: blueviolet;

}
.yellocoler{

    background-color: gold;
}
input{

    width: 210px;
    height: 50px;
    border: solid blue;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 5px;
}
h1{
    text-align: center;
}