*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
/* HADER */
header{

    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin: 20px 0;
    align-items: center;
  
}
/* HADER .UL1 .LI1,A */
header .ul1 .li1, a{

    list-style: none;
    display: inline-block;
    margin: 0 40px;
    text-decoration: none;
    color: black;
   

}
/* HADER .LI2 */
header .ul1 .li2{

    display: inline-block;
    position: relative;
    margin: 0 40px;

    
}
/* HADER .UL2 */
header .ul1 .li2 .ul2{

    position: absolute;
    width: 70px;
    list-style: none;
    display: none;
    background-color: black;
   
}
/* HADER .LI3,A*/
header .ul1 .li2 .ul2 .li3, a{

 text-decoration: none;
    color: black;
    margin: 5px 0;
       
}
/* HADER .LI2:hover .UL2 */
header .ul1 .li2:hover .ul2{
   
    display: block;

}
/* HADER .LI3:hover A:hover*/
header .ul1 .li2 .ul2 .li3:hover a:hover{

    background-color: blue;
    color: white;
    
    
}
/* HADER H2 A*/
header h2 a{

    color: #7251d3;
}
/* BODY */
body{

    background: url(buildings-3973014.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
/* HADER .LI1 A:hover*/
header .ul1 .li1 a:hover{

    color: blue;
    background-color: black;
    padding: 5px 0.1px;
    
}
/* HADER .LI2 A:hover*/
header .ul1 .li2 a:hover{

        color: blue;
        
}
/* HADER .LI2 .A1:hover */
header .ul1 .li2 .a1:hover{

    padding: 5px 0.1;
    color: blue;
    background-color: black;
}
/* BUTTON */
button{

    padding: 5px 20px;
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}
/* BUTTON A */
button a{

    color: #7251d3;
}
/* BUTTON:hover,BUTTON A:hover */
button:hover, button a:hover{

    background-color: rgb(0, 255, 0);
    
}
/* HADER  .LI1, A*/
header .ul1 .li1, a{

    color: #7251d3;
    font-weight: bold;
    
}
/*SECTION */
section{

    position: absolute;
   top: 180px;
   left: 50px;

}
/* SECTION P */
section p{

    font-size: 70px;
    opacity: 0.7;
    
}
/* SECTION .SPN1 */
section .spn1{

    color: #0189ff;
    
}
