*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
}

html,body{

    height: 100%;
}
body{

    background: var(--Cream);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
        display: flex;
        width: 600px;
       
        
        
        
}
h1, h2, h3, h4, h5, h6{

    font-weight: 700;
    font-family: ;
    margin-bottom: 15px;
}
p{
    font-weight: 400;
    margin-bottom: 15px;
}
.card-img img{

   

    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    display: block;
}
.card-img {

    flex-basis: 50%;
}
.card-body {

    flex-basis: 50%;
    border-radius:  0 10px 10px 0;
    padding: 30px;
    background-color: white;
}
.card-body h2{
    font-size: 32px;
}
.card-body h6{

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.card-body p{

    font-size: 14px;
    color: darkblue;
    line-height: 1.5em;
}
.card-body p.price{

    color: var(--Darkcyan);
    font-size: 32px;
    position: relative;
}
.card-body p.price span{

    font-size: 14px;
    position: absolute;
    top:2.05;
    left: 120px;
    text-decoration:line-through;
}
button{

    background-color: var(--Darkcyan);
    border: 0;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: white;
}